body{
	background-color: #3d0066;
}

#head{
	background-image: linear-gradient(to left,#3d3d5c,#6600cc);
	width: 100%;
	height: 10%;
	border-radius: 100px 100px 100px 100px;
	font-family: Helvetica;
	text-align:center;
	font-size: 40px;
	color:white;
}

#flex1{
	display:flex;
	width: 30%;
	height:80%;
	background-color:#400080;
	margin-top:60px;
	margin-left:50px;
	border-radius:10px;
	position: absolute;
}

#flex2{
	display:flex;
	width: 60%;
	height:80%;
	background-color:#400080;
	margin-top:60px;
	margin-left:700px;
	border-radius:10px;
	position: relative;
}

.top_head{
    background-color: #6600cc;
    width:100%;
    height:10%;
    position:relative;
    border-radius:10px 10px 0px 0px;
    color:#4da6ff;
    font-family: Helvetica;
	text-align:center;
	font-size: 40px;
}

hr{
  margin-top: 100px;
  margin-left: 50px;
  margin-right:50px;
  border:1px solid #6600cc;
	

}

.button {
  margin-left:380px;
  background-color: #6699ff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  position:absolute;
  border:none;
  cursor: pointer;
}
